<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Player Properties</title> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5d12624b68.js" crossorigin="anonymous"></script>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.2/css/all.min.css" --> 
    <link rel="stylesheet" href="/css/main.css" />

</head> 
<body>    
    <a href="/" style="display: block; position: absolute; top: 10px; left: 10px;">
        <i class="fas fa-arrow-left" style="font-size: 30px;"></i>
    </a>
    
    <h1>Welcome, 
        <span id="username-text" style="color:blue;"><%= user.username %></span>
    </h1>
    Matches: 1769/2970, 60.47%  <br/>
    Time: 737h 14m 11s          <br/>
    Level: 350, Baron           
    <div id="edit-username-div">
        <input id="new-username-input" type="text" placeholder="<%= user.username %>" />
        <button id="submit-username-button">Update Username</button>
    </div>
    
    <br/><br/>

    <div class="avatar-section"> 
        <button id="randomize-button">Randomize</button>
        <img id="current-avatar" src="https://api.dicebear.com/<%=user.avatar %>" alt="Current avatar" style="height: 4em; vertical-align: middle;">
        <button id="theme-button">Change Style</button>
    </div>

    <div id="previous-avatars-container"></div>
        <!-- Avatars will be appended here as they're changed -->
    </div>
    
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/player-properties.js"></script>
</body>

</html>