<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
    <link rel="icon" href="/portal/img/favicon.ico" type="image/x-icon" />    
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome 'TV' to the Dino game instance with ID: <%= gameId %></p>
    <canvas id="gameCanvas" width="800" height="600"></canvas>


    
    <div id="gameContainer" data-gameid="<%= gameId %>"></div>
    <script type="module" src="/dino/js/DinoHostTV.js"></script>
</body> 
</html>
