<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <!-- <script src="socket.io/socket.io.js"></script> -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script -->
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"></script>
    <script src="https://kit.fontawesome.com/5d12624b68.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/portal/img/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <a href="/" style="display: block; position: absolute; top: 10px; left: 10px;">
      <i class="fas fa-arrow-left" style="font-size: 30px;"></i>
    </a>

    <table width="100%" border="1px">
      <tr>
        <td style="text-align: left;" width="20%" class="clickable" onclick="window.location.href='/player-score'">
          <table width="100%">
            <td>
              <img src="/img/bucks.png" style="height: 1em; vertical-align: middle;"> 0 
            </td>
            <td>
              <img src="/img/battle-icon-1.png" style="height: 1em; vertical-align: middle;"> 0
            </td>
          </table> 
        </td>
        <td width="50%"></td>
        <td style="text-align: right;" width="30%" class="clickable" onclick="window.location.href='/profile'"> 
            <div style="white-space: nowrap;"><%= user.username %></div>
          <img src="https://api.dicebear.com/<%=user.avatar%>" style="height: 4em; vertical-align: middle;">
        </td>
      </tr>
    </table>


    <h1>Dino Lobby</h1>
 

    <!-- Form for creating a new game -->
    <div id="new-game">
      <h2>Create a New Game</h2>
      <form id="new-game-form">  <!--  action="/dino/create" method="POST"> -->
        <label for="game-name">Game Name:</label>
        <input type="text" id="game-name" name="game-name">
        <!-- New dropdown menu to select create & play or create & host -->
        <select id="game-type" name="game-type">
          <option value="createAndJoinGame">Create & Play</option>
          <option value="hostGame">Create & Host</option>
        </select>
        <button type="submit" id="create-game-btn">Create Game</button>
      </form>
    </div>
      
    <!-- Button to join an existing game -->
    <div id="join-game">
      <h2>Join an Existing Game</h2>
      <form id="join-game-form">  <!-- action="/dino/join" method="POST"> -->
        <label for="game-id">Game ID:</label>
        <input type="text" id="game-id" name="game-id">
        <button type="submit" id="join-game-btn">Join Game</button>
      </form>
      list of the games (taken from DB or from MEM/sessions):
      <ul>
        <% gamesList.forEach(game => { %>
            <li><a href="/Dino/<%= game %>"><%= game %></a></li>
        <% }); %>
      </ul>
    </div> 

    Test: View <a href="/Dino/123/display">Hosted </a> Game
    
    <script src="/Dino/js/Lobby.js"></script>
  </body>
</html>
